#checkoutContentContainer {
  @include media-breakpoint-up(xl) {
    max-width: 1170px;
  }
  #checkoutContentRow {
    @include media-breakpoint-up(md) {
      padding-top: 40px;
      img.cart-logo {
        margin-bottom: 30px;
      }
      div.checkout-form-container {
        padding-right: 60px;
      }    
    }
  }
}

.checkout {
  margin-bottom: $global-margin * 5;
  h2,
  h3 {
    text-transform: uppercase;
    margin: 0 0 $global-margin * 2 0;
  }
  hr:not(.margin-default) {
    margin: $global-margin * 3 0 $global-margin * 2;
  }
  .primary {
    margin-top: $global-margin;
  }
  &__edit-link {
    margin-top: $global-margin;
  }
  &__header {
    background-color: $light-gray;
    padding: $global-padding * 1.5 0 $global-padding;
    margin-bottom: $global-margin;
    @include media-breakpoint-down(sm) {
      padding: $global-padding 0;
      & ~ .maincontent {
        margin-top: 0;
      }
    }
    a:hover {
      text-decoration: none;
    }
    svg {
      vertical-align: baseline;
      margin-right: $global-margin;
      padding-bottom: 2px;
      width: 113px;
      @include media-breakpoint-down(sm) {
        max-height: 34px;
        vertical-align: text-bottom;
        margin-right: 0;
        padding-bottom: 5px;
      }
    }
    h1 {
      display: inline-block;
      font-weight: 300;
      text-transform: uppercase;
      @include media-breakpoint-down(sm) {
        font-size: 1.8rem;
        margin-bottom: 0;
      }
    }
  }
  &__login {
    margin: $global-margin * 5 0 $global-margin * 3;
    border: 1px solid $gray;
    border-radius: $button-border-radius;
    text-align: center;
    h3 {
      margin-bottom: $global-margin * 3;
    }
    .btn {
      margin: $global-margin * 2 auto 0;
    }
    &__continue {
      padding: $global-padding * 2 0 $global-padding;
    }
    &__form {
      background-color: $light-gray;
      padding: $global-padding * 2 $global-padding * 6 $global-padding * 2;
      @include media-breakpoint-down(md) {
        padding: $global-padding * 2;
      }
      .form-group {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  &__review {
    background-color: $light-gray;
    padding: $global-padding $global-padding * 2;
    border-radius: 3px;
    h3 {
      margin: $global-margin 0;
    }
    &__section {
      border-top: 1px solid $gray;
      padding-top: $global-padding;
      .input-btn {
        input {
          border-radius: 12px;
        }
        .btn {
          height: calc(2.25rem + 2px);
          padding: $global-padding / 2;
        }
        .btn-voucher-remove {
          position: relative;
        }
      }
      input {
        padding: $global-padding;
      }
    }
    &__tittle {
      margin-bottom: $global-margin * 2;
    }
    &__variant {
      color: $skull-gray;
    }
    @include media-breakpoint-down(sm) {
      margin-top: $global-margin * 3;
    }
  }
  &__thankyoupage {
    text-align: center;
    margin-top: $global-margin * 6;
    @include media-breakpoint-down(sm) {
      margin-top: $global-margin * 3;
    }
    h3 {
      margin-bottom: $global-margin * 3;
    }
    .btn {
      margin-top: $global-margin;
    }
    span {
      color: $darken-gray;
    }
    h1 {
      font-weight: 300;
      margin-top: -$global-margin * 4;
    }
    &__form {
      margin-top: $global-margin * 6;
      margin-bottom: $global-margin * 3;
      border: 1px solid $light-gray;
      border-radius: $button-border-radius;
      @include media-breakpoint-down(sm) {
        margin-top: $global-margin * 3;
      }
      .col-md-6 {
        padding: $global-padding * 3 0 $global-padding * 2;
        &:first-of-type {
          background-color: $light-gray;
          padding: $global-padding * 3 $global-padding * 4 $global-padding * 2;
          @include media-breakpoint-down(md) {
            padding: $global-padding * 3 $global-padding * 2 $global-padding * 2;
          }
        }
      }
      img {
        margin-bottom: $global-margin * 1.2;
        @include media-breakpoint-only(md) {
          margin-bottom: $global-margin * 2.4;
        }
      }
    }
  }
  &__new-address {
    grid-column-end: span 2;
    @include media-breakpoint-down(md) {
      grid-column-end: span 1;
    }
    &-container {
      grid-column-end: span 2;
      @include media-breakpoint-down(md) {
        grid-column-end: span 1;
      }
    }
  }
  &__shipping {
    .btn {
      grid-column-start: 2;
      width: 100%;
      @include media-breakpoint-down(md) {
        grid-column-start: 1;
      }
    }
  }
  &__shipping-methods {
    p {
      margin: $global-margin * 2 0;
    }
    .address {
      width: calc(50% - #{$global-margin});
    }
    .btn {
      grid-column-start: 2;
      width: 100%;
      @include media-breakpoint-down(md) {
        grid-column-start: 1;
      }
    }
    &-form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: $global-margin * 2;
      grid-row-gap: $global-margin;
      @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
      }
      label {
        cursor: pointer;
        display: block;
        margin: 0;
      }
      .btn {
        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
    }
  }
  &__payment {
    h3 {
      margin: $global-margin * 2 0 $global-margin;
    }
    &-form {
      label {
        cursor: pointer;
        display: block;
        margin: 0;
      }
      .btn {
        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
      &__choice {
        margin-bottom: $global-margin;
      }
    }
  }
  &__payments {
    &-card-expiry-slash {
      pointer-events: none;
      font-size: 1.5rem;
      font-weight: 100;
    }
  }
  &__street_address_2 {
    padding-top: $global-padding * 2;
  }
  &__addresses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $global-margin * 2;
    &--full-width {
      grid-template-columns: 1fr;
    }
    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
    }
    &-panel {
      label {
        cursor: pointer;
        display: block;
        margin-right: 0;
      }
    }
  }
  &__billing {
    &-form {
      p {
        margin: $global-margin * 2 0;
      }
    }
  }
}

.checkout-product {
  &__title {
    background: rgb(56, 103, 155);
    color: $white;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: 1px solid $gray;
    font-size: 1.5rem;
    padding: 1rem;
  }
  &__price {
    font-size: 1.25rem;
  }
}

.checkout-preview {
  h3 {
    color: $skull-gray;
  }
  > p {
    color: #222222;
    margin-bottom: 16px;
  }
  &__line {
    &.last {
      border: none;
    }
    .col-5 {
      margin-top: $global-margin / 2;
      @include media-breakpoint-down(sm) {
        text-align: right;
      }
    }
    &__product {
      a {
        transition: 0.3s;
        &:hover {
          color: $skull-gray;
        }
        p {
          display: inline-block;
          margin-top: $global-margin / 2;
          margin-bottom: 0;
          line-height: 1rem;
          small {
            color: $skull-gray;
          }
        }
        img {
          vertical-align: top;
          margin-right: $global-margin;
        }
      }
    }
    &__quantity {
      @include media-breakpoint-down(sm) {
        margin-bottom: $global-margin / 2;
      }
      form {
        display: inline-block;
        input {
          width: 62px;
          margin-right: 10px;
        }
      }
      &-error {
        display: block;
      }
      img {
        max-width: 18px;
      }
    }
  }
  &__total {
    padding-top: 0;
    margin-bottom: 0;
    p {
      margin-bottom: 0;
    }
    h3.checkout-total {
      font-size: 22px;
    }
    &__subtotal {
      color: $skull-gray;
      @include media-breakpoint-up(sm) {
        padding-left: calc(60px + #{$global-padding} * 2);
      }
      &--shipping {
        color: $body-color;
      }
    }
  }
  &__delivery-info {
    p {
      margin-bottom: 8px;
      color: $body-color;
      display: inline-block;
    }
    &__price {
      text-transform: uppercase;
    }
  }
  &__empty {
    text-align: center;
    img {
      margin: $global-margin * 2 0;
    }
    .btn {
      margin: $global-margin * 2 0 $global-margin * 5;
    }
  }
  &__submit {
    @media (max-width: 370px) {
      width: 100%;
    }
  }
  &__clear {
    @media (max-width: 400px) {
      margin-top: $global-margin;
    }
    @media (min-width: 470px) {
      margin-right: $global-margin;
    }
    @media (max-width: 370px) {
      width: 100%;
    }
    margin-right: $global-margin;
  }
  &-item-delete {
    cursor: pointer;
    display: inline-block;
    margin-left: $global-margin / 2;
    svg {
      vertical-align: text-top;
    }
  }
  .checkout__subtotal {
    margin: 10px 0;
    border: 1px solid #555;
    box-shadow: 0 0 3px #999;
    padding: 16px 16px 8px 16px;
    h3, p {
      font-size: 16px;
      color: #111111;
    }
    .table__row {
      padding-top: 0;
      padding-bottom: 8px;
      border: none;
    }
    @include media-breakpoint-up(md) {
      padding: 0 20px;
      border: none;
      box-shadow: none;
      >div, .table__row {
        padding: 11px;
        border-bottom: 1px solid #777777;
        >.row {
          margin-right: 0;
          margin-left: 0;
          .checkout-preview__total__subtotal {
            text-align: left;
            padding-left: 0;
          }
        }
      }
    }
  }
}

#timerAndOrderSummaryContainer {
  @include media-breakpoint-up(md) {
    border: 1px solid black;
    padding: 10px 0 20px 0;
    align-self: start;
    >h3 {
      font-size: 22px;
      padding: 0 20px;
      svg {
        line-height: 22px;
        height: 28px;
        margin-right: 10px;
        padding-bottom: 5px;
      }
    }
    .checkout-preview__line {
      padding: 0;
      border-top: 1px solid black;
      .checkout-product__title {
        border: none;
        margin-top: 0;
        box-sizing: border-box;
        max-width: 100%;
        margin: 0 0 10px 0;
        padding: 5px 10px;
      }
    }
  }
}

#payment-form {
  background: #eee;
  border: 1px solid #ddd;
  padding: 16px 10px;
  border-radius: 5px;
  @include media-breakpoint-up(md) {
    background: #ffffff;
    border: none;
    padding: 0;
    >div.form-group:nth-of-type(1) {
      float: left;
      width: 48%;
    }
    >div.form-group:nth-of-type(2) {
      float: right;
      width: 48%;
    }
    .nav-tabs {
      border-bottom: 0;

    }
  }
  h3 {
    line-height: 1.6em;
    margin-bottom: 1rem;
    @include media-breakpoint-up(md) {
      font-size: 22px;
    }
  }
  hr {
    border-top: 1px solid #999999;
    margin-bottom: 1.5rem;
  }
  li.nav-item {
    display: block;
    margin-bottom: 0.5em;
    height: 50px;
    line-height: 50px;
    min-width: 220px;
    text-align: center;
    position: relative;
    width: 100%;
    a {
      -webkit-box-shadow: 0 0 0 2px #e1e1e1 inset;
      box-shadow: 0 0 0 2px #e1e1e1 inset;
      background-color: #ffffff;
      color: #e1e1e1;
      font-size: 1.4em;
      border-radius: 4px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 0 1em;
      text-decoration: none;
      i.fa {
        font-size: 40px;
        margin: 0 .06em;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      img.svg-cc-icons {
        height: 30px;
        display: block;
      position: relative;
      top: 0;
      margin: 0 .06em;
      }
    }
    a.active {
      -webkit-box-shadow: 0 0 0 2px #41A6FF inset;
      box-shadow: 0 0 0 2px #41A6FF inset;
    }
  }
  li.nav-item.nav-credit-card {

  }
  .btn-primary {
    background-color: #ff0000 !important;
    padding: 26px 8px;
    font-size: 26px;
    line-height: 1.2em;
    margin-top: 26px;
    margin-bottom: 10px;
    text-transform: none;
    border-radius: 0;
    color: #ffffff !important;
    font-weight: 600;
  }
  h3#securePaymentReassurance {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
    line-height: 1.1em;
  }
  input {
    height: 44px;
    line-height: 44px;
    border-radius: 4px;
  }
  input::placeholder {
    color: #aaa;
  }
}