#clockdiv{
  color: $white;
  font-weight: 700;
  font-size: 2rem;
}

#clock__container {
  padding: 1rem;
  background: rgba(126,91,239,.7);
  p {
    color: $white;
    font-weight: 700;
    font-size: 1.5rem;
  }
}
