#clockdiv{
  color: $white;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1em;
}

#clock__container {
  padding: 15px 8px;
  background: rgba(126,91,239,.7);
  border-radius: 10px;
  p {
    color: $white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1em;
    margin-bottom: 8px;
  }
  @include media-breakpoint-up(md) {
    border-radius: 0;
  }
}
