{% extends "base_new.html" %}
{% load i18n %}
{% load l10n %}
{% load get_product_image_thumbnail from product_images %}
{% load price from taxed_prices %}
{% load static %}
{% load bootstrap_form from bootstrap4 %}
{% load bootstrap_field from bootstrap4 %}
{% load get_product_features from product_attr %}
{% load get_product_price_features from product_attr %}

{% block shipping_options %}{% url 'checkout:shipping-options-single' %}{% endblock %}
{% block title %}{% trans "Last Step - Get Your..." context "Checkout page title" %} — {{ block.super }}{% endblock %}

{% block meta_tags %}
  <meta name="robots" content="nofollow">
{% endblock meta_tags %}

{% block content %}
<div class="container pb-5 pr-0 pl-0" id="checkoutContentContainer">
  <div class="row" id="checkoutContentRow">
    <div class="col-12 p-0 d-md-none" id="checkoutMobileHeader">
      <img class="mobile-cart-logo img-fluid d-sm-none" src="{% static "images/keto-fs-top-image-499-max-redesign.jpg" %}"/>
      <img class="tablet-cart-logo img-fluid d-none d-sm-block d-md-none" src="{% static "images/keto-fs-top-image-500-min-768-max-redesign.jpg" %}"/>
    </div>
    <div class="col-md-5 order-md-2" id ="timerAndOrderSummaryContainer">
      <h3 class="d-none d-md-block"><svg data-src="{% static "images/shopping-cart-solid.svg" %}" width="20" height="20"/> {% trans "Order Summary" context "Checkout order summary title" %}</h3>
      <div class="checkout-preview">
        {% if checkout_lines %}
          {% for line in checkout_lines %}
          <div class="checkout-preview__line{% if forloop.last %} last{% endif %} table__row d-none d-md-block">
            <div class="checkout-product__title row d-flex justify-content-center">
              {{ line.variant.product.translated }}
            </div>
            <div class="checkout-product__price row d-flex justify-content-center">
              {% with pun=line.variant.get_price pd=line.get_total %}
              {% if pun != pd %}
              <small class="product__info__price__undiscounted">
                {% price pun %}
              </small> &nbsp;
              {% endif %}
              {% price pd %}
              {% endwith %}
            </div>
            <div class="row d-flex justify-content-center">
              {% get_product_price_features line.variant.product as features %}
              {% if features %}
                <br/>
                <small><b>({{ features|join:", " }})</b></small>
              {% endif %}
            </div>
            <div class="row d-flex justify-content-center">
                <img class="lazyload lazypreload" data-src="{% get_product_image_thumbnail line.variant.get_first_image method="thumbnail" size=180 %}"
                   data-srcset="{% get_product_image_thumbnail line.variant.get_first_image method="thumbnail" size=180 %} 1x, {% get_product_image_thumbnail line.variant.get_first_image method="thumbnail" size=360 %} 2x"
                   alt=""/>
            </div>
            {% get_product_features line.variant.product as features %}
            {% if features %}
            <div class="row d-flex justify-content-center">
              {% trans "You get" context "Product features" %}:
              <small><ul>
                {% for feature in features %}
                <li>{{ feature }}</li>
                {% endfor %}
              </small></ul>
            </div>
            {% endif %}
          </div>
          {% endfor %}
          {% if cheesy_clock %}
          <div id="clock__container">
            <div class="d-flex justify-content-center text-center">
              <p>{% trans "Your" context "Countdown timer" %} {{ checkout_lines.0.variant.product.translated }} {% trans "has been reserved for the next 15 minutes. Time remaining:" context "Countdown timer" %}</p>
            </div>
						<div id="clockdiv" class="d-flex justify-content-center text-center">
              <span class="minutes"></span>:<span class="seconds"></span>
						</div>
          </div>
          {% endif %}
          <div class="checkout__subtotal">
            {% include 'checkout/_subtotal_table.html' with country_code=shipping.address_form.initial.country %}
          </div>
        {% endif %}
        <p class="text-center"><small class="text-muted">60 Day Money Back Guarantee<br/>100% No Questions Asked</small></p>
      </div>
    </div>
    <div class="col-md-7 order-sm-1 checkout-form-container">
      <img class="cart-logo img-fluid d-none d-md-block" src="{% static "images/logo-ks.png" %}"/>
      <form method="POST" id="payment-form" novalidate>
        <h3>{% trans "Contact Information" context "Checkout contact information title" %}</h3>
        {% csrf_token %}
        {% bootstrap_field shipping.address_form.first_name show_label=False %}
        {% bootstrap_field shipping.address_form.last_name show_label=False %}
        {% bootstrap_field shipping.user_form.email show_label=False %}
        <hr/>
        <h3>{% trans "Shipping Information" context "Checkout shipping information title" %}</h3>
        {% include "account/snippets/address_form_single.html" with address_form=shipping.address_form only %}

        {% if not Stripe and not Braintree  %}
        <button type="submit" id="card-button" class="btn btn-primary btn-block">
          {% trans "Place Order" context "Payment form primary action" %}
        </button>
        {% else %}
        <hr/>
        <h3>{% trans "Payment Method" context "Checkout payment information title" %}</h3>
				<ul class="nav nav-tabs col-lg-10 m-auto" role="tablist">
					<li class="nav-item nav-credit-card">
						<a class="nav-link active" data-toggle="tab" href="#card" role="tab" aria-selected="true">
                <i class="fa fa-cc-amex"></i>
                <i class="fa fa-cc-mastercard"></i>
                <i class="fa fa-cc-discover"></i>
                <i class="fa fa-cc-visa"></i>
                <img class="svg-cc-icons" src="{% static "images/cc-icons-ae.svg" %}">
                <img class="svg-cc-icons" src="{% static "images/cc-icons-mc.svg" %}">
                <img class="svg-cc-icons" src="{% static "images/cc-icons-dc.svg" %}">
                <img class="svg-cc-icons" src="{% static "images/cc-icons-vs.svg" %}">
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link paypal" data-toggle="tab" href="#paypal" role="tab" aria-selected="false">
              <img class="svg-cc-icons" src="{% static "images/paypal.svg" %}">
						</a>
					</li>
				</ul>
        <input type="hidden" name="gateway" value="Braintree"/>
        <input type="hidden" id="nonce" name="payment_method_nonce"/>
        <input type="hidden" id="amount" name="amount" value="{% localize off %}{{ Braintree.payment.total }}{% endlocalize %}"/>
				<div class="tab-content">
					<div class="tab-pane fade active show" id="card" role="tabpanel">
						<div class="m-auto">
              {% include 'order/payment/braintree_inner.html' with form=Braintree.form payment=Braintree.payment order=order %}
						</div>
					</div>
					<div class="tab-pane fade" id="paypal" role="tabpanel">
						<div class="m-auto">
							<div class="alert alert-danger">
								<span contenteditable="true">An approval dialog box will appear for secure PayPal payment</span>
							</div>
              {% include 'order/payment/paypal.html' with form=Braintree.form payment=Braintree.payment order=order %}
						</div>
					</div>
				</div>
        {% endif %}
        <h3 id="securePaymentReassurance">Secure Payment with SSL 128-Bit Encryption</h3>
      </form>
    </div>
  </div>
</div>
{% endblock %}
