{% load i18n %}
{% load static %}
<div class="form-group">
  <input class="form-control" id='cardholder-name' name="cardholder-name" placeholder="Cardholder Name" required/>
</div><!-- form-group -->
<div class="form-group d-flex justify-content-center">
  <img src="{% static "images/credit-cards.png" %}"/>
</div><!-- form-group -->
<div class="form-group">
  <div id="card-element" class="stripe" style="padding-top: .55rem;"></div>
</div><!-- form-group -->
<div class="form-group d-flex justify-content-center">
  <svg data-src="{% static "images/shopping-cart-solid.svg" %}" width="20" height="20"/>&nbsp;{% trans "Secure Payment with SSL 128-Bit Encryption" %}
</div><!-- form-group -->
<hr/>
<button id="card-button" class="btn btn-primary btn-block">
  <i class="fa fa-shopping-cart" aria-hidden="true"></i>{% trans "Place Order" context "Payment form primary action" %}
</button>
<div class="outcome">
  <div id="error" class="error"></div>
</div>
{% csrf_token %}
<input type="hidden" class="client_token" name="Stripe" data-action="{% url 'order:client-token' 'Stripe'  %}"/>
{{ form.payment_method_id.as_hidden }}

<script src="https://js.stripe.com/v3/"></script>
<script>
var client_token = document.querySelector('input[name="Stripe"]');
client_token.onchange = function(e) {
  stripe = Stripe(e.target.value);
  var options = {
    fonts:[{cssSrc: 'https://fonts.googleapis.com/css?family=Poppins',}]
  };
  var elements = stripe.elements(options);

  var cardElement = elements.create('card', {
    classes: {
      base: 'form-control',
    },
    style: {
      base: {
        iconColor: '#333333',
        color: '#333333',
        fontFamily: '"Poppins", sans-serif',
        '::placeholder': {
          color: '#d3d1d0',
          fontWeight: 300,
        },
      },
    }
  });
  cardElement.mount('#card-element');

  var cardholderName = document.getElementById('cardholder-name');
  var cardButton = document.getElementById('card-button');
  var payment_method_id = document.getElementById('id_payment_method_id');
  var form = document.getElementById('payment-form');
  var errorElement = document.getElementById('error')

  cardButton.addEventListener('click', function(ev) {
    ev.preventDefault();
    stripe.createPaymentMethod('card', cardElement, {
      billing_details: {name: cardholderName.value}
    }).then(function(result) {
      if (result.error) {
        // Show error in payment form
        errorElement.textContent = result.error.message;
        errorElement.classList.add('visible');
      } else {
        // Otherwise send paymentMethod.id to your server (see Step 2)
        payment_method_id.value = result.paymentMethod.id;
        form.submit();
      }
    });
  });
};
</script>
