{% load i18n %}
{% load static %}
<div class="form-group">
  <input class="form-control" id="cardholder-name" name="cardholder-name" placeholder="Name on Card" required/>
</div><!-- form-group -->
<div class="form-group">
  <div id="card-number"></div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <div id="card-expiry"></div>
  </div>
  <div class="form-group col-md-6">
    <div id="card-cvc"></div>
  </div>
</div>
<hr/>
<button id="card-button" class="btn btn-primary btn-block">
  <i class="fa fa-shopping-cart" aria-hidden="true"></i>{% trans "Place Order" context "Payment form primary action" %}
</button>
<div class="outcome">
  <div id="error" class="error"></div>
</div>
{% csrf_token %}
<input type="hidden" class="client_token" name="Stripe" data-action="{% url 'order:client-token' 'Stripe'  %}"/>
{{ form.payment_method_id.as_hidden }}
​
<script src="https://js.stripe.com/v3/"></script>
<style>
.stripe-control {
  padding-top: 0.55rem;
}
</style>
<script>
var client_token = document.querySelector('input[name="Stripe"]');
client_token.onchange = function(e) {
  stripe = Stripe(e.target.value);
  var options = {
    fonts:[{cssSrc: 'https://fonts.googleapis.com/css?family=Poppins',}]
  };
  var elements = stripe.elements(options);
​
  var elementStyles = {
    base: {
      iconColor: '#333333',
      color: '#333333',
      fontSize: '16px',
      fontFamily: '"Poppins", sans-serif',
      '::placeholder': {
        color: '#d3d1d0',
        fontWeight: 300,
      },
    },
  };
​
  var elementClasses = {
    base: 'form-control stripe-control',
  };
​
  var cardExpiry = elements.create('cardExpiry', {
    classes: elementClasses,
    style: elementStyles, 
  });
  cardExpiry.mount('#card-expiry');
​
  var cardCvc = elements.create('cardCvc', {
    classes: elementClasses,
    style: elementStyles, 
  });
  cardCvc.mount('#card-cvc');
​
  var cardElement = elements.create('cardNumber', {
    classes: elementClasses,
    style: elementStyles, 
  });
  cardElement.mount('#card-number');
​
  var cardholderName = document.getElementById('cardholder-name');
  var cardButton = document.getElementById('card-button');
  var payment_method_id = document.getElementById('id_payment_method_id');
  var form = document.getElementById('payment-form');
  var errorElement = document.getElementById('error')
​
  cardButton.addEventListener('click', function(ev) {
    ev.preventDefault();
    stripe.createPaymentMethod('card', cardElement, {
      billing_details: {name: cardholderName.value}
    }).then(function(result) {
      if (result.error) {
        // Show error in payment form
        errorElement.textContent = result.error.message;
        errorElement.classList.add('visible');
      } else {
        // Otherwise send paymentMethod.id to your server (see Step 2)
        payment_method_id.value = result.paymentMethod.id;
        form.submit();
      }
    });
  });
};
</script>